p {
  margin: 0px;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.board {
  background-color: gray;
  width: 500px;
  height: 500px;
  row-gap: 10px;
  column-gap: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.game-result {
  height: 40px;
  text-align: center;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
}

.end-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin-bottom: 10px;
}

.restart-button,
.toggle-border-button {
  padding: 15px;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

.restart-button:hover,
.toggle-border-button:hover {
  background-color: rgb(210, 210, 210);
}

.restart-button:active,
.toggle-border-button:active {
  opacity: 0.8;
}

.restart-button {
  height: 100%;
}

.toggle-border-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.hidden {
  visibility: hidden;
}

.square {
  background-color: white;
  width: 160px;
  height: 160px;
  font-size: 160px;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.square:hover {
  background-color: rgb(236, 236, 236);
}

.square:active {
  opacity: 0.8;
}
