body {
  margin: 0px;
  background-color: lightcyan;
}

.projects-grid-container {
  display: grid;
  place-items: center;
  height: 98vh;
  opacity: 1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media ((min-width: 1350.1px) and (max-width: 1800px)) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media ((min-width: 900.1px) and (max-width: 1350px)) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media ((min-width: 0px) and (max-width: 900px)) {
  .projects {
    grid-template-columns: 1fr;
  }
}


.projects:hover .project {
  opacity: 0.6;
}

.projects:hover .project:hover {
  opacity: 1;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

.projects:hover .project:hover .project-thumbnail {
  scale: 1.1;
  z-index: 1;
}

.project {
  width: 400px;
  height: 230px;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  transition: opacity 0.15s, padding 0.15s, margin 0.15s;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  background-color: white;
}

.project-title {
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.603);
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

.project-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: scale 0.15s;
}
