h1 {
  font-family: "Lobster", sans-serif;
  font-size: 75px;
  margin: 0;
  text-align: center;
}

h2 {
  font-family: "Assistant", sans-serif;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-family: "Assistant", sans-serif;
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}

.calculator {
  background-color: white;
  padding: 20px 100px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-input {
  display: block;
  font-size: 20px;
  padding: 10px;
  font-size: "Assistant", sans-serif;
  width: 100%;
}

.calculate-button {
  margin-top: 20px;
  padding: 16px 35px;
  font-size: 18px;
  font-weight: 700;
  background-color: rgb(0, 123, 255);
  border: none;
  border-radius: 10px;
  color: white;
  border: 3px solid rgb(0, 123, 255);
  cursor: pointer;
}

.calculate-button:hover {
  background-color: white;
  color:rgb(0, 123, 255)
}

.calculate-button:active {
  opacity: 0.8;
}

.age {
  text-decoration: underline;
}

@media ((min-width: 620.1px) and (max-width: 671px)) {
  .calculator {
    padding: 16px 75px;
  }
}

@media (max-width: 620px) {
  .calculator {
    padding: 16px 50px;
  }
}
