.help-menu {
  position: fixed;
  top: 7px;
  left: 7px;
}

.help-button {
  border-radius: 50%;
  padding: 5px 15px;
  border: 1px solid black;
  font-family: Nunito, Arial;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  user-select: none;
}

.help-button:hover {
  background-color: rgb(200, 200, 200);
}

.help-button:active {
  opacity: 0.8;
}

.help-text {
  display: none;
  margin-top: 5px;
  background-color: rgb(230, 230, 230);
  padding: 30px 10px;
  font-family: Nunito, Arial;
  border-radius: 10px;
  border: 1px solid black;
}

.help-title {
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
}
