.back-button, .after-button {
  padding: 12px 30px;
  font-family: Nunito, Arial;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: background-color 0.15s, color 0.15s;
  user-select: none;
}

.after-button {
  background-color: rgb(91, 139, 18);
  color: white;
}

.back-button:hover {
  background-color: rgb(182, 182, 182);
}

.after-button:hover {
  background-color: rgb(65, 102, 9);
  color: white;
}

.back-button:active, .after-button:active {
  opacity: 0.8;
}

.after-button-done,
.after-button-done:hover,
.after-button-done:active {
  background-color: rgb(69, 80, 51);
  color: gray;
  opacity: 1;
}

.back-button-done,
.back-button-done:hover,
.back-button-done:active {
  background-color: rgb(163, 163, 163);
  color: rgb(54, 54, 54);
  opacity: 1;
}
