body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-input,
.date-input {
  padding: 6px;
  font-size: 15px;
}

.task-input {
  height: 20px;
}

.add-button,
.delete-button {
  padding: 10px 15px;
  font-size: 15px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: rgb(0, 118, 0);
}

.delete-button {
  background-color: darkred;
}

.delete-button:hover {
  background-color: rgb(129, 0, 0);
}

.add-button:active,
.delete-button:active {
  opacity: 0.8;
}

.task-grid,
.task-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.task-input-grid {
  margin-bottom: 10px;
}

.task-text {
  word-break: break-all;
  width: 200px;
}
