.result-values-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 3px 15% 25px 15%;
  flex-grow: 1;
  overflow: hidden;
}

.separate-values {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  width: 100%;
}

.value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.value-text {
  margin-bottom: 10px;
}

.value-text::before {
  content: '$';
}

@media (min-width: 975.1px) {
  .result-values {
    margin-top: 30px;
  }
}
