body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: rgb(150, 200, 200);
}

@media ((min-width: 620.1px) and (max-width: 671px)) {
  body {
    height: 70vh;
  }
}

@media (max-width: 620px) {
  body {
    height: 80vh;
  }
}
