.export-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  flex-wrap: wrap;
  gap: 5px;
}

.export-button {
  padding: 10px 15px;
  background: #A474F5;
  border: 3px outset #A474F5;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  cursor: pointer;
  transition: padding 0.15s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-wrap: nowrap;
}

.export-button:hover {
  padding-inline: 25px;
}

.export-button:active {
  opacity: 0.8;
}