* {
  user-select: none;
}

body {
  /* background-color: #121212;
  background-image: radial-gradient(#282828 5%, transparent 5%);
  background-size: 40px 40px; */
  background-color: #282828;
  background-image: radial-gradient(#3f3f3f 5%, transparent 5%);
  background-size: 40px 40px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

#top-flowers {
  position: absolute;
  margin: 0;
  width: 100%;
  max-width: 600px;
  top: 0;
}
