body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.move-icon {
  background-color: transparent;
  width: 50px;
}

.move-button {
  background-color: rgb(25, 25, 25);
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 15px;
  cursor: pointer;
}

.move-button:hover {
  background-color: rgb(15, 15, 15);
  border-color: rgb(245, 245, 245);
}

.move-button:active {
  opacity: 0.8;
}

.result {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.moves {
  display: flex;
  justify-content: center;
}

.move {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75px;
}

.score {
  text-align: center;
}

.reset-and-auto-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.reset-confirmation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-score-button,
.auto-play-button,
.yes-button,
.no-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

.reset-score-button:hover,
.auto-play-button:hover,
.yes-button:hover,
.no-button:hover {
  background-color: rgb(230, 230, 230);
}

.reset-score-button:active,
.auto-play-button:active,
.yes-button:active,
.no-button:active {
  opacity: 0.8;
}
