.achievement-button {
  position: absolute;
  top: 7.5px;
  right: 5px;
  font-size: 2em;
  border: 2px solid black;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: var(--achievement-gold);
  display: grid;
  place-items: center;
  z-index: 100;
}

.achievement-button:hover {
  background: rgb(211, 211, 211);
  color: var(--achievement-gold-hover);
}

.achievement-button:active {
  opacity: 0.8;
}

.achievement-menu {
  width: 250px;
  height: 80%;
  position: absolute;
  top: 90px;
  right: -270px;
  background: white;
  border: 4px solid black;
  border-radius: 20px 0 20px 20px;
  font-family: "Chakra Petch", sans-serif;
  overflow: hidden;
  transition: right 0.5s;
  text-align: center;
  z-index: 99;
}

.achievement {
  display: flex;
  display: none;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 5px;
  height: 75px;
  width: 300px;
  background: var(--achievement-gold);
}
