body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url("../images/background.gif");
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(10px);
  margin: 0;
}

button {
  font-family: Arial;
  font-weight: 700;
  font-size: 2em;
  color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  box-shadow: 5px 5px 0 5px rgb(136, 136, 136);
  background: rgb(180, 36, 36);
  cursor: pointer;
}

button:hover {
  background: rgb(124, 24, 24);
}

button:active {
  margin: 17px 0 0 17px;
  box-shadow: none;
}
