:root {
  --achievement-gold: rgb(189, 170, 66);
  --achievement-gold-hover: rgb(116, 104, 40);
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url("../images/background-1.gif");
  background-position: center;
  background-size: cover;
  margin: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  position: absolute;
  color: white;
  font-family: "Chakra Petch", sans-serif;
  top: 75px;
  text-align: center;
  text-shadow: 3px 2px 0px black;
}

.pointless-button {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  box-shadow: 5px 5px 0 5px rgb(136, 136, 136);
  background: rgb(180, 36, 36);
  cursor: pointer;
}

.pointless-button:hover {
  background: rgb(124, 24, 24);
}

.pointless-button:active {
  margin: 17px 0 0 17px;
  box-shadow: none;
}

.menu-button {
  position: absolute;
  top: 7.5px;
  font-size: 2em;
  border: 2px solid black;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  z-index: 100;
}

.menu-button:hover {
  background: rgb(211, 211, 211);
}

.menu-button:active {
  opacity: 0.8;
}

